<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Projects/Publications | Rachael Mends</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='main.css') }}">
</head>

<body>

    <nav class="navbar">
        <a href="{{ url_for('main.home') }}"
           class="{% if request.endpoint == 'main.home' %}active{% endif %}">
            Home
        </a>

        <a href="{{ url_for('main.contact') }}"
           class="{% if request.endpoint == 'main.contact' %}active{% endif %}">
            Contact
        </a>

        <a href="{{ url_for('main.projects') }}"
           class="{% if request.endpoint == 'main.projects' %}active{% endif %}">
            Projects/Publications
        </a>
    </nav>

    <main class="home-container">

        <section class="bio">

            <h1>Projects</h1>

            <h2>Module 1 Project</h2>

            <p>
                This assignment teaches the fundamentals of website construction. I built a personal developer website that includes a biography, contact information/links, and details about my Python projects.
            </p>

            <p>
                I worked with Flask, a micro web framework written in Python. I worked with HTML, and then cascading style sheets (CSS) to describe how HTML elements are to be displayed. My output is a functional personal website that includes details about me, my projects, and contact information.
            </p>
            <p>
                Skills: Flask, HTML, Searching Methods, Data Cleaning, JSON Data Object Storage
            </p>

            <p>
                This project was developed as part of the JHU Python
                Software Concepts course.
            </p>

            <p>
                <a href="https://github.com/rachmends/jhu_software_concepts" target="_blank">
                    View the Module 1 Project on GitHub
                </a>
            </p>

        </section>

    </main>

</body>
</html>